#landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
    height: 100%;
}
#landingMainSection{
    border: 1px black solid;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#loginCard{
    border: 1px blue solid;
    padding: 3rem;
}

.inputSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.loginInput{
    width: 15rem;
    height: 2rem;
}

#loginButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featuresContent{
    width: 100%;
}
#featureCards{
    display: flex;
    justify-content: space-evenly;
}
.featureCard{
    border: solid 1px black;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.featureImage{
    border: 1px solid red;
    height: 14rem;
    width: 100%;
}

#navbar{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px green solid;
    padding: 0 2rem;
}

.navButton{
    border: 1px solid black;
    margin-right: 1rem;
}
