/* General Body, Main and Section CSS */
body {
    display: grid;
    place-items: center;
    margin: 0;
    background: linear-gradient(176deg, #D4E8FF80 20%, #D4E8FF 60%);
    width: 100%;
    font-family: "Rubik", sans-serif;
}

main {
    display: grid;
    place-items: center;
    width: 100%;
}

/* .landingPageMain {
    background: linear-gradient(176deg, transparent 60%, #0d8cd4 60.2%);
} */

.step1 {
    margin-top: -60px;
}

.step2 {
    margin-top: 60px;
}

.step3 {
    margin-top: 180px;
}

section {
    margin: 1rem 0rem;
    display: grid;
    place-items: center;
    width: 70vw;
    padding: 1rem;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto;
    grid-gap: 1rem;
    align-items: center;
    width: 94vw;
}

.nav-links {
    display: grid;
    place-items: center;
    grid-gap:.75rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navButton{
    font-size: 1.25rem;
    transition: .15s;
    text-decoration: none;
    color: #0d8cd4;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.navButtonDisabled{
    font-size: 1.25rem;
    transition: .15s;
    color: #777777;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.section-heading {
    font-size: 2rem;
    color: #0d8cd4;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.subHeading {
    font-size: 1.25rem;
    color: #0d8cd4;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.whiteIcon {
    color: white;
    height: 18px;
    width: 18px;
}

.icon {
    margin: .1rem;
    border: none;
    border-radius: 8px;
    padding: .2rem;
    height: 28px;
    width: 28px;
}

.icon-bg-move {
    background-color: rgb(194,149,92);
}

.icon-bg-trip {
    background-color: #0d8cd4;
}

/* a {
    text-decoration: none;
    color: #0d8cd4;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
} */

input[type="submit"] {
    padding: .5rem 1rem;
    font-family: "Rubik", sans-serif;
    border: none;
    background-color: #0d8cd4;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 4px #444444;
    color: white;
    transition: .15s;
}

input[type="submit"]:hover {
    filter: blur(.85px);
}

.navButton:hover{
    filter: blur(.85px);
}

/* Alignment CSS */
.left-align {
    display: block;
    text-align: left;
}

.right-align {
    display: block;
    text-align: right;
}

.center-align {
    display: block;
    text-align: center;
}

/* Card CSS */
.card {
    display: grid;
    place-items: center;
    padding: 3rem 3rem;
    box-shadow: 2px 2px 8px #444444;
    border-radius: 10px;
    width: 300px;
}

.card:hover {
    box-shadow: 2px 2px 5px #444444;
}

.card100 {
    padding: .5rem 1rem;
    box-shadow: 2px 2px 5px #444444;
    border-radius: 10px;
    margin: .5rem 1rem;
    width: 65rem;
    max-width: 55vw;
    background-color: white;
    display: grid;
    place-items: center;
}

.card-rows {
    display: grid;
    place-items: center;
    width: 100%;
}

.trip-card {
    border: 4px solid #0d8cd4;
    background-color: #77CBF680;
}

.taglineDiv {
    display: grid;
    place-items: center;
    margin: 3rem 0rem 2rem;
}

.highlight {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.question {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2.25rem;
    color: #0d8cd4;
    margin: 0;
}

.move-card-special {
    border: 4px solid rgb(194,149,92);
    transition: .25s;
}

.move-card {
    border: 4px solid rgb(194,149,92);
    background: linear-gradient(176deg, rgba(194,149,92,.2), rgb(194,149,92, .5) );
    filter: saturate(120%);
}

/* Grid Column CSS */
.two-column-even-display {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
}

.three-column-in-card {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1rem;
}

.three-column-in-card-right {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 1rem;
}

.three-column-even {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

/* Misc CSS */

p {
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    width:100%;
}

.tagline {
    font-size: 1.4rem;
}

.width100 {
    width: 100%;
}

/* Sam's CSS */
/* #landingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
    width: 100%;
    height: 100%;
} */
#landingMainSection{
    border: 1px black solid;
    width: auto;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loginCard{
    width: 280px
}

.inputSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.loginInput{
    width: 280px;
    height: 2rem;
    border-radius: 5px;
}

#loginButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featuresContent{
    width: 100%;
}
#featureCards{
    display: flex;
    justify-content: space-evenly;
}

.featureCard{
    border: solid 1px black;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.featureImage{
    border: 1px solid red;
    height: 14rem;
    width: 100%;
}
/*Lightest Blue - #D4E8FF

Light Blue - #77CCF6

Blue - #0D8CD4

Brown - #825C36
    font-family: 'Raleway', sans-serif;*/
.move{
    background-color: #825C36;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.cardTitle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #D4E8FF;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.cardButton, .submitButton{
    background-color: rgb(194,149,92);
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: #48331f;
}

.cardButton:hover, .submitButton:hover{
    background-color: #48331f;
    color: rgb(194,149,92);
    cursor: pointer;
}

.form-wrapper{
    width: 100%;
    display: flex;
    justify-content:flex-end;
}
.add-form{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    border: 1px solid rgb(194,149,92);
    border-radius: 5px;
    padding: .5rem .75rem;
    margin-right: 1rem;
}
.inputDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem ;
}
.input{
    width: 10rem;
    height: 1.3rem;
    background-color: transparent;
    border: 1px solid rgb(194,149,92);
    border-radius: 5px;
}
.input:focus{
    background-color: rgb(194,149,92);
    outline: none;
}
.submitButtonDiv{
    display: flex;
    justify-content: flex-end;
}

.toDoList{
    min-height: 5.5rem;
    max-height: 30rem;
    border: 1px solid rgb(194,149,92);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    overflow-y:scroll;
    overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #825C36;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
background: rgb(194,149,92);
  border-radius: 2px;
}

.listItemContainer{
    width: 100%;
    margin-top: .3rem;
    margin-left: .5rem;
    display: flex;
    flex-direction:column;
}
.listItem{
    width: 85%;
    height: 5rem;
    background-color:rgb(194,149,92);
    border: 3px #48331f solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #444444;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.listItemText{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0;
}
.listItemTitle{
    display: flex;
    align-items:center;
}
.listItemName, .date, .listItemDescription{
    margin: 0;
}
.listItemButton:hover{
    cursor: pointer;
}
#editContainersWrapper{
    width: 100%;
    max-height: 25rem;
    display: flex;
}
.smallListSection{
    border: 1px solid black;
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#createContainerForm{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 .5rem .5rem 0;
}

.container{
    border: 1px solid black;
    width: 10rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container:hover{
    background-color: #999999;
}
.containerButtons{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: .5rem .5rem 0 0;
    z-index: 1;
}
.containerName{
    padding: 2rem;
    z-index: 0;
}

#deleteContainer{
    z-index: 1;
}
.twoOpenContainer{
    width: 50%;
    height: 25rem;
    border: 1px solid black;
}
.oneOpenContainer{
    width: 100%;
    height: 25rem;
    border: 1px solid black;
}

.item{
    width: 99%;
    background-color: bisque;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}

.itemText{
    height: 2rem;
    width: 75%;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: .5rem;
    line-height: .8;
}
.itemTitle, .toDoTitle{
    display: flex;
    align-items:center;
    margin: 0;
}

.quantity{
    margin: 0;
}
.itemDescription{
    font-size: x-small;
}




/* createEvent */
#eventForm{
    border: 3px solid black;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10%;
    height: auto;
}

#eventName, #eventDates, #eventLocation, #eventFormSubmitButton {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventDates{
    justify-content: space-evenly;
}

#eventLocation{
    justify-content: space-evenly;
}

#eventName-input, #startDate-input, #endDate-input, #locationSearch {
    height: 1.5rem;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
}

#searchResult {
    font-size: 1rem;
}


.searchResult{
  bottom: 0;
  right: 15px;
  border: 3px solid #ffff;
  z-index: 9;
  color: grey;
  padding-top: 0;
}

.hoverMe {
    border: 1px solid black;
}

#hoverMe:hover{
    color: black;
    display: flex;
}

#deleteContainer{
    z-index: 1;
}
.twoOpenContainer{
    width: 50%;
    height: 25rem;
    border: 1px solid black;
}
.oneOpenContainer{
    width: 100%;
    height: 25rem;
    border: 1px solid black;
}

.item{
    width: 99%;
    background-color: bisque;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}

.itemText{
    height: 2rem;
    width: 75%;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: .5rem;
    line-height: .8;
}
.itemTitle, .toDoTitle{
    display: flex;
    align-items:center;
    margin: 0;
}
.itemName, .toDoName{
    margin: 0;
    line-height: 0;
}

.quantity{
    margin: 0;
}
.itemDescription{
    font-size: x-small;
}

.toDoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDo{
    width: 95%;
    background-color: bisque;
    border: 1px black solid;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
/* Not Found */
.notFound{
    font-size: 2rem;
    align-items: center;
    padding-top: 10%;
}

.notFoundText{
    align-items: center;
    display: flex;
    justify-content: center;
}

